<div fxLayout="row" fxLayoutGap="5">
    <button mat-raised-button color="primary" (click)="onAddCharacter()">{{text.getText().addCharacterLabel}}</button>
</div>
<hr>
<mat-tab-group [dynamicHeight]="true">
  <mat-tab *ngFor="let type of characterGroupsTypes; trackBy: trackByGroupType" label="{{type.name}}">
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-accordion>
          <mat-expansion-panel hideToggle *ngFor="let characterGroup of type.groups; trackBy: trackByGroupName">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h6>{{characterGroup.name}}</h6>
                <button mat-icon-button
                type="button"
                style="margin-left: 20px; position: absolute; right: 50px; z-index: 3"
                (click)="onAddToGroup(type.name, characterGroup.name)">
                <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button
                        type="button"
                        style="margin-left: 20px; position: absolute; right: 10px; z-index: 3"
                        (click)="onAddGroupToFight(characterGroup.characters)">
                  <mat-icon>keyboard_double_arrow_right</mat-icon>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <mat-nav-list>
              <app-character-item
                *ngFor="let character of characterGroup.characters; trackBy: trackByCharacterId"
                [character]="character"
                [index]="character.id">
              </app-character-item>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
