<div fxLayout="row" class="details-row">
  <div fxFlex="100">
    <h4>{{ text.getText().characteristicsLabel }}</h4>
    <table mat-table [dataSource]="[character]" class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of characteristicsColumns">
        <th mat-header-cell *matHeaderCellDef>{{ text.getTranslation("characteristics", column).nameTranslation }}</th>
        <td mat-cell *matCellDef="let element">{{ element.getCharacteristic(column).value }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="characteristicsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: characteristicsColumns;"></tr>
    </table>
  </div>
</div>

<ng-container *ngIf="character.notes.length > 0">
  <div fxLayout="row" class="details-row">
    <div fxFlex="100">
      <h4>{{ text.getText().notesLabel }}</h4>
      <table mat-table [dataSource]="character.notes" class="mat-elevation-z8">
        <ng-container matColumnDef="note">
          <td mat-cell *matCellDef="let element">{{ element.note }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: notesColumns;"></tr>
      </table>
    </div>
  </div>
</ng-container>

<ng-content></ng-content>

<ng-container *ngIf="character.skills.length > 0 || character.talents.length > 0 || character.traits.length > 0">

  <div fxLayout="row" fxLayoutGap="20" class="details-row">
    <ng-container *ngIf="character.skills.length > 0">
      <div fxFlex="30">
        <h4>{{ text.getText().skillsLabel }}</h4>
        <section>
          <mat-checkbox
            [checked]="skillsCheckbox"
            (change)="skillsCheckboxUpdate($event.checked)">
            {{ text.getText().skirmishCheckBoxLabel }}
          </mat-checkbox>
        </section>
        <ng-container *ngIf="character.getSkillsList(this.skillsCheckbox).length > 0">
          <table mat-table [dataSource]="character.getSkillsList(this.skillsCheckbox)" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ text.getText().nameLabel }}</th>
              <td mat-cell *matCellDef="let element">
                @if (element.model.hasSpecialisation) {
                  {{ element.model.nameTranslation }} ({{ element.specialisation }})
                } @else {
                  {{ element.model.nameTranslation }}
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef>{{ text.getText().levelLabel }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.value }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="baseColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: baseColumns;"></tr>
          </table>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="character.talents.length > 0">
      <div fxFlex="30">
        <h4>{{ text.getText().talentsLabel }}</h4>
        <section>
          <mat-checkbox
            [checked]="talentsCheckbox"
            (change)="talentsCheckboxUpdate($event.checked)">
            {{ text.getText().skirmishCheckBoxLabel }}
          </mat-checkbox>
        </section>
        <ng-container *ngIf="character.getTalentsList(this.talentsCheckbox).length > 0">
          <table mat-table [dataSource]="character.getTalentsList(this.talentsCheckbox)" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ text.getText().nameLabel }}</th>
              <td mat-cell *matCellDef="let element">
              <span class="description-span"
                    (click)="openBottomSheet(element.model)">
                @if (element.model.hasSpecialisation) {
                  {{ element.model.nameTranslation }} ({{ element.specialisation }})
                } @else {
                  {{ element.model.nameTranslation }}
                }
              </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef>{{ text.getText().levelLabel }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.value }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="baseColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: baseColumns;"></tr>
          </table>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="character.traits.length > 0">
      <div fxFlex="30">
        <h4>{{ text.getText().traitsLabel }}</h4>
        <table mat-table [dataSource]="character.traits" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ text.getText().nameLabel }}</th>
            <td mat-cell *matCellDef="let element">
              <span class="description-span"
                    (click)="openBottomSheet(element.model)">
                {{ element.model.nameTranslation }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef>{{ text.getText().valueLabel }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="baseColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: baseColumns;"></tr>
        </table>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="character.spells.length > 0">
  <div fxLayout="row" fxLayoutGap="20" class="details-row">
    <ng-container *ngIf="character.spells.length > 0">
      <div fxFlex="30">
        <h4>{{ text.getText().spellsLabel }}</h4>
        <table mat-table [dataSource]="createListOfSpells(character.spells)" class="mat-elevation-z8">
          <ng-container matColumnDef="spell">
            <th mat-header-cell *matHeaderCellDef>{{ text.getText().nameLabel }}</th>
            <td mat-cell *matCellDef="let element">
                <span class="description-span"
                      (click)="openBottomSheet(element)">
                  - {{ element.nameTranslation }}
                </span>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: spellColumns;"></tr>

          <ng-container matColumnDef="groupHeader">
            <td colspan="999" mat-cell *matCellDef="let group"><strong>{{ group.name }}</strong></td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"></tr>
        </table>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="character.weapons.length > 0">
  <div fxLayout="row" class="details-row">
    <div fxFlex="100">
      <h4>{{ text.getText().weaponLabel }}</h4>
      <table mat-table [dataSource]="character.weapons" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().nameLabel }}</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.value == 1; else characterWeaponValue">{{ element.weapon.nameTranslation }}</span>
            <ng-template #characterWeaponValue>
              <span>{{ element.weapon.nameTranslation }} ({{ element.value }})</span>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().categoryLabel }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.weapon.weaponGroup.nameTranslation }}
          </td>
        </ng-container>
        <ng-container matColumnDef="reach">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().reachLabel }}</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.weapon.weaponRange == 0; else strengthInRange">
          {{ element.weapon.weaponReach.nameTranslation }}
        </span>

            <ng-template #strengthInRange>
        <span *ngIf="element.weapon.isUsingStrengthInRange; else weaponRange">
          BSx{{ element.weapon.weaponRange }}
        </span>
            </ng-template>

            <ng-template #weaponRange>
              <span *ngIf="element.weapon.weaponGroup.name.includes('AMMUNITION'); else fullWeaponRange">
                <span *ngIf="element.weapon.weaponRange == 0.5">{{ text.getText().halfWeaponRangeLabel }}</span>
                <span *ngIf="element.weapon.weaponRange == 1">{{ text.getText().rangeAsWeaponLabel }}</span>
                <span *ngIf="element.weapon.weaponRange > 1">+{{ element.weapon.weaponRange }}</span>
                <span *ngIf="element.weapon.weaponRange < 0">{{ element.weapon.weaponRange }}</span>
              </span>
              <ng-template #fullWeaponRange>

                <span>{{ element.weapon.weaponRange }}</span>
              </ng-template>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="damage">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().damageLabel }}</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.weapon.isUsingStrength; else elseBlock">
              +{{ +character.strength.value.toString()[0] + element.weapon.damage }}
            </span>
            <ng-template #elseBlock>
              <span *ngIf="element.weapon.damage >= 0; else minusDamageBlock">+{{ element.weapon.damage }}</span>
              <ng-template #minusDamageBlock>
                {{ element.weapon.damage }}
              </ng-template>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="advantagesAndDisadvantages">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().advantagesAndDisadvantagesLabel }}</th>
          <td mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let quality of element.weapon.weaponQualities">
                <span *ngIf="quality.value == 1; else characterWeaponValue" class="description-span"
                      (click)="openBottomSheet(quality.weaponQuality)">
                  {{ quality.weaponQuality.nameTranslation }}
                </span>
                <ng-template #characterWeaponValue>
                  <span class="description-span" (click)="openBottomSheet(quality.weaponQuality)">
                    {{ quality.weaponQuality.nameTranslation }} {{ quality.value }}
                  </span>
                </ng-template>
              </li>
            </ul>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="weaponColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: weaponColumns;"></tr>
      </table>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="character.armors.length > 0">
  <div fxLayout="row" class="details-row">
    <div fxFlex="100">
      <h4>{{ text.getText().armorLabel }}</h4>
      <table mat-table [dataSource]="character.armors" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().nameLabel }}</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.armor.armorType.name === 'MAGICAL'; else elseTemplate">
              {{ element.armor.nameTranslation }} - {{ text.getText().roundsLabel }}: {{ element.duration }}
            </span>
            <ng-template #elseTemplate>
              <span>{{ element.armor.nameTranslation }}</span>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().categoryLabel }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.armor.armorCategory.nameTranslation }}
          </td>
        </ng-container>
        <ng-container matColumnDef="localization">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().localizationLabel }}</th>
          <td mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let localization of element.armorBodyLocalizations">
                {{ localization.bodyLocalization.nameTranslation }}
              </li>
            </ul>
          </td>
        </ng-container>
        <ng-container matColumnDef="armorPoints">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().armorPointsLabel }}</th>
          <td mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let localization of element.armorBodyLocalizations">
                {{ localization.armorPoints }}
              </li>
            </ul>
          </td>
        </ng-container>
        <ng-container matColumnDef="penalties">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().penaltiesLabel }}</th>
          <td mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let penalty of element.armor.armorPenalties">
                {{ penalty.nameTranslation }}
              </li>
            </ul>
          </td>
        </ng-container>
        <ng-container matColumnDef="qualities">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().qualitiesLabel }}</th>
          <td mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let quality of element.armor.armorQualities">
                <span class="description-span"
                      (click)="openBottomSheet(quality)">
                  {{ quality.nameTranslation }}
                </span>
              </li>
            </ul>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="armorsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: armorsColumns;" (contextmenu)="onContextMenu($event, row)"></tr>
      </table>
    </div>
  </div>

  <div style="visibility: hidden; position: fixed"
       [style.left]="contextMenuPosition.x"
       [style.top]="contextMenuPosition.y"
       [matMenuTriggerFor]="contextMenu">
  </div>

  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-armor="armor">
      <button mat-menu-item (click)="onEditArmor(armor)">
        <span>{{ text.getText().editArmorPointsLabel }}</span>
      </button>
    </ng-template>
  </mat-menu>
</ng-container>
