<div fxLayout="row">
  <h4>{{text.getText().groupAdvantageLabel}}</h4>
</div>

<div fxLayout="row" style="width: 80%">
  <table mat-table [dataSource]="skirmishGroups" class="mat-elevation-z8 advantage-groups-table">
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef>Color</th>
      <td mat-cell *matCellDef="let element">
        <div [ngStyle]="{'background-color': 'rgb(' + element.colorR + ',' + element.colorG + ',' + element.colorB + ')'}"
             style="width: 20px; height: 20px; border: 1px solid #ccc; border-radius: 4px;">
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell>Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="advantage">
      <th mat-header-cell>Advantage</th>
      <td mat-cell *matCellDef="let element"> {{ element.advantages }}</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell>Buttons</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="basic" type="button" (click)="addGroupAdvantage(element.id)">
          +
        </button>
        <button mat-mini-fab color="basic" type="button" style="margin-left: 10px"
                (click)="removeGroupAdvantage(element.id)">
          -
        </button>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: ['color', 'name','advantage', 'buttons'];"></tr>
  </table>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row">
  <div fxFlex="100">
    <h4>{{ text.getText().turnLabel }} {{ roundNumber }}</h4>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="5px">
  <button mat-raised-button color="primary" class="mat-button-responsive" (click)="endTurn()">
    {{ text.getText().endTurnLabel }}
  </button>

  <button mat-raised-button color="primary" class="mat-button-responsive" (click)="initiativeRolls()">
    {{ text.getText().initiativeRollLabel }}
  </button>

  <button mat-raised-button color="warn" class="mat-button-responsive" (click)="clearData()">
    {{ text.getText().clearDataLabel }}
  </button>
</div>
<div fxLayout="row">
  <div fxFlex="100">
    <mat-nav-list>
      <mat-divider></mat-divider>
      <app-skirmish-character-item
        *ngFor="let skirmishCharacter of skirmishCharacters; let i = index"
        [skirmishCharacter]="skirmishCharacter"
        [index]="i">
      </app-skirmish-character-item>
    </mat-nav-list>
  </div>
</div>
