@media (max-width: 1600px) {
  .mat-button-responsive {
    font-size: 13px;
  }
}

.advantage-groups-table {
  background-color: #303030;
  box-shadow: none;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-column-color {
  padding: 0;
}
