<div fxLayout="row" class="details-row">
  <div fxFlex="100">
    <h4>{{ text.getText().bodyLabel }}</h4>
    <table mat-table [dataSource]="character.bodyLocalizations" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ text.getText().nameLabel }}</th>
        <td mat-cell *matCellDef="let element"> {{ element.bodyLocalization.nameTranslation }}</td>
      </ng-container>
      <ng-container matColumnDef="armorPoints">
        <th mat-header-cell *matHeaderCellDef>{{ text.getText().armorPointsLabel }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.armorPoints }}
        </td>
      </ng-container>
      <ng-container matColumnDef="injuries">
        <th mat-header-cell *matHeaderCellDef>{{ text.getText().injuriesLabel }}</th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let characterInjury of element.injuries">
              <span *ngIf="characterInjury.value == 1"
                    class="description-span"
                    (click)="openBottomSheet(characterInjury.model)">
                {{ characterInjury.model.nameTranslation }}
              </span>
              <span
                *ngIf="characterInjury.value > 1"
                class="description-span"
                (click)="openBottomSheet(characterInjury.model)">
                {{ characterInjury.model.nameTranslation }} {{ characterInjury.value }}
              </span>
            </li>
          </ul>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="bodyLocalizationsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: bodyLocalizationsColumns;"></tr>
    </table>
  </div>
</div>
