<div>
  <div fxLayout="row" class="details-row">
    <div fxFlex="100">
      <h4>{{text.getText().temporaryParametersLabel}}</h4>
      <table mat-table [dataSource]="[skirmishCharacter]" class="mat-elevation-z8">
        <ng-container matColumnDef="isAlive">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().isAliveLabel}}</th>
          <td mat-cell *matCellDef="let element">
<!--            <span *ngIf="element.isDead">Nie</span>-->
<!--            <span *ngIf="!element.isDead">Tak</span>-->
            <mat-button-toggle-group
              [value]="element.isDead"
              (change)="onToggleAlive($event.value)"
              appearance="legacy">
              <mat-button-toggle [value]="false">{{text.getText().yesLabel}}</mat-button-toggle>
              <mat-button-toggle [value]="true">{{text.getText().noLabel}}</mat-button-toggle>
            </mat-button-toggle-group>
          </td>
        </ng-container>
        <ng-container matColumnDef="currentWounds">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().woundsLabel}}</th>
          <td mat-cell *matCellDef="let element">
            {{element.currentWounds}}/{{element.character.wounds.value}}
            <button mat-mini-fab color="basic" type="button" style="margin-left: 20px" (click)="addWoundPoint()">
              +
            </button>
            <button mat-mini-fab color="basic" type="button" (click)="removeWoundPoint()">
              -
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="initiative">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().initiativeLabel}}</th>
          <td mat-cell *matCellDef="let element">
            {{element.skirmishInitiative}}
          </td>
        </ng-container>
        <ng-container matColumnDef="advantage">
          <th mat-header-cell *matHeaderCellDef>{{text.getText().advantageLabel}}</th>
          <td mat-cell *matCellDef="let element">
            {{element.advantage}}
            <button mat-mini-fab color="basic" type="button" style="margin-left: 20px" (click)="addAdvantagePoint()">
              +
            </button>
            <button mat-mini-fab color="basic" type="button" (click)="removeAdvantagePoint()">
              -
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="temporaryParametersColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: temporaryParametersColumns;"></tr>
      </table>
    </div>
  </div>
</div>

<ng-container *ngIf="skirmishCharacter.character.conditions.length > 0">
  <div fxLayout="row" fxLayoutGap="20" class="details-row">
      <div fxFlex="30">
        <h4>{{text.getText().conditionsLabel}}</h4>
        <table mat-table [dataSource]="skirmishCharacter.character.conditions" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{text.getText().nameLabel}}</th>
            <td mat-cell *matCellDef="let element">
                <span class="description-span"
                      (click)="openBottomSheet(element.condition)">
                  {{element.condition.nameTranslation}}
                </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef>{{text.getText().levelLabel}}</th>
            <td mat-cell *matCellDef="let element">
              {{element.value}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="baseColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: baseColumns;"></tr>
        </table>
      </div>
  </div>
</ng-container>
