<h2 mat-dialog-title>{{ text.getText().addToFightLabel }}</h2>

<div mat-dialog-content>
  <div *ngIf="!data.isAddingGroup">
    <p>{{ text.getText().characterNumber }}</p>
    <mat-form-field appearance="fill">
      <mat-label>{{ text.getText().valueLabel }}</mat-label>
      <input matInput type="number" [(ngModel)]="number">
    </mat-form-field>
  </div>

  <p>{{ text.getText().chooseSkirmishGroupLabel }}</p>
  <mat-button-toggle-group
    name="options"
    [(value)]="mode"
    class="full-width"
  >
    <mat-button-toggle value="add">{{text.getText().addSkirmishGroup}}</mat-button-toggle>
    <mat-button-toggle value="select">{{text.getText().selectFromListLabel}}</mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="mode === 'select'">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{text.getText().chooseSkirmishGroupLabel}}</mat-label>
      <mat-select [(value)]="selectedItem">
        <mat-option *ngFor="let group of skirmishGroups" [value]="group">{{ group.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="mode === 'add'">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{text.getText().newSkirmishGroupNameLabel}}</mat-label>
      <input matInput [(ngModel)]="newGroup.name" placeholder="{{text.getText().enterNameLabel}}">
    </mat-form-field>

    <div>
      <label>{{text.getText().chooseColorLabel}}</label>
      <color-sketch
        [color]="randomColor"
        (onChange)="handleColorChange($event)"
        [width]=300
      ></color-sketch>
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">{{text.getText().cancelLabel}}</button>
  <button mat-raised-button color="primary" [disabled]="!isFormValid()" (click)="confirm()">{{text.getText().confirmLabel}}</button>
</div>
