<div fxLayout="row" class="details-row" [formGroup]="editCharacterForm">
  <div fxFlex="100" formArrayName="{{formArrayName}}">
    <h4>{{ titleLabel }}</h4>
    <div fxLayout="row" fxLayoutGap="20" *ngFor="let formArray of formArrays; let i = index" [formGroupName]="i">
      <div fxFlex="40">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>{{ text.getText().nameLabel }}</mat-label>
          <input type="text"
                 matInput
                 formControlName="model"
                 required
                 (focusout)="onFocusOut(i, formArray)"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="validateSelection(i, formArray)"
                            [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredList[i] | async" [value]="option">
              {{ option.nameTranslation }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="20" *ngIf="formArrayName==='injuries'">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>{{ text.getText().localizationNameLabel }}</mat-label>
          <mat-select formControlName="bodyLocalization">
            <mat-option *ngFor="let bodyLocalization of additionalData"
                        [value]="bodyLocalization.bodyLocalization">
              {{ bodyLocalization.bodyLocalization.nameTranslation }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{ text.getText().valueLabel }}</mat-label>
          <input matInput type="text" formControlName="value">
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <button mat-mini-fab color="warn" type="button" (click)="onDeleteFormArray(i)">X</button>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100">
        <button mat-raised-button color="primary" type="button"
                (click)="onAddFormArray()">{{ addButtonLabel }}
        </button>
      </div>
    </div>
  </div>
</div>
