<div fxLayout="row" class="details-row" [formGroup]="editCharacterForm">
  <div fxFlex="100" formArrayName="armors">
    <h4>{{ text.getText().armorLabel }}</h4>
    <div fxLayout="row" fxLayoutGap="20" *ngFor="let armorControl of armors; let i = index" [formGroupName]="i">
      <div fxFlex="30">
        <mat-form-field>
          <mat-label>{{ text.getText().nameLabel }}</mat-label>
          <input type="text"
                 matInput
                 formControlName="armor"
                 required
                 (focusout)="onFocusOut(i)"
                 [matAutocomplete]="autoGroup"
          >
          <mat-autocomplete #autoGroup="matAutocomplete"
                            (optionSelected)="validateSelection(i)"
                            [displayWith]="displayFn">
            @for (group of filteredList[i] | async; track group.name) {
              <mat-optgroup [label]="group.name">
                @for (armor of group.armors; track armor.id) {
                  <mat-option [value]="armor">{{ armor.nameTranslation }}</mat-option>
                }
              </mat-optgroup>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="15" *ngIf="isMagicalArmor(i, armorControl)">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{ text.getText().armorPointsLabel }}</mat-label>
          <input matInput type="number" formControlName="armorPoints" required>
        </mat-form-field>
      </div>
      <div fxFlex="15" *ngIf="isMagicalArmor(i, armorControl)">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{ text.getText().durationLabel }}</mat-label>
          <input matInput type="number" formControlName="duration" required>
        </mat-form-field>
      </div>
      <div fxFlex="20">
        <button mat-raised-button color="primary" type="button"
                (click)="onEditArmor(i)">{{ text.getText().editLabel }}
        </button>
        <button mat-mini-fab color="warn" type="button" (click)="onDeleteArmor(i)">X</button>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100">
        <button mat-raised-button color="primary" type="button"
                (click)="onAddArmor()">{{ text.getText().addArmorLabel }}
        </button>
      </div>
    </div>
  </div>
</div>
