<div fxLayout="row" class="details-row" [formGroup]="editCharacterForm">
  <div fxFlex="100" formArrayName="spells">
    <h4>{{ text.getText().spellsLabel }}</h4>
    <div fxLayout="row" fxLayoutGap="20" *ngFor="let spellControl of spells; let i = index" [formGroupName]="i">
      <div fxFlex="40">
        <mat-form-field>
          <mat-label>{{ text.getText().nameLabel }}</mat-label>
          <input type="text"
                 matInput
                 required
                 (focusout)="onFocusOut(i)"
                 [formControl]="spellControl"
                 [matAutocomplete]="autoGroup">
          <mat-autocomplete #autoGroup="matAutocomplete"
                            [displayWith]="displayFn"
                            (optionSelected)="validateSelection(i)">
            @for (group of filteredList[i] | async; track group.name) {
              <mat-optgroup [label]="group.name">
                @for (spell of group.spells; track spell.id) {
                  <mat-option [value]="spell">{{ spell.nameTranslation }}</mat-option>
                }
              </mat-optgroup>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <button mat-mini-fab color="warn" type="button" (click)="onDeleteSpell(i)">X</button>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100">
        <button mat-raised-button color="primary" type="button"
                (click)="onAddSpell()">{{ text.getText().addSpellLabel }}
        </button>
      </div>
    </div>
  </div>
</div>
