<br>
<app-details-name
  [name]="this.characterName">
</app-details-name>

<app-skirmish-character-buttons
  [skirmishCharacter]="skirmishCharacter">
</app-skirmish-character-buttons>

<app-details-descriptions
  [character]="skirmishCharacter.character">
</app-details-descriptions>

<app-skirmish-character-parameters
  [skirmishCharacter]="skirmishCharacter">
</app-skirmish-character-parameters>

<app-details-conditions
  [character]="skirmishCharacter.character">
</app-details-conditions>

<app-details-body-localizations
  [character]="skirmishCharacter.character"
  [skirmishCharacter]="skirmishCharacter"
  [isSkirmishMode]="true">
</app-details-body-localizations>

<app-details-character
  [character]="skirmishCharacter.character"
  [isSkirmishMode]="true">
</app-details-character>
