<h1 mat-dialog-title>{{data.testType}}</h1>
<div mat-dialog-content>
  <div *ngFor="let test of data.endTurnCheck.tests">
    <hr>
    <p>{{text.getText().rollForLabel}} {{test.skirmishCharacter.character.name}}
      - {{test.condition.nameTranslation}}</p>
    <mat-form-field appearance="fill">
      <mat-label>{{text.getText().rollLabel}}</mat-label>
      <input matInput type="number" [(ngModel)]="test.result" [disabled]="!test.isFeasible">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{text.getText().modifierLabel}}</mat-label>
      <input matInput type="number" [(ngModel)]="test.modifier" [disabled]="!test.isFeasible">
    </mat-form-field>

    <ng-container *ngIf="test.condition.name === 'BROKEN'">
      <p>{{text.getText().isFeasibleLabel}}</p>
      <mat-slide-toggle
        color="primary"
        [(ngModel)]="test.isFeasible">
      </mat-slide-toggle>
    </ng-container>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data">{{text.getText().saveLabel}}</button>
</div>
