a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

section {
  margin-bottom: 5px;
}

span {
  white-space: normal !important;
}

.active {
  border-bottom: none !important;
}

.condition-number {
  margin-bottom: 0;
  margin-top: 0;
}

.dead-character {
  filter: blur(1px);
  -ms-filter: blur(1px);
  -webkit-filter: blur(1px);
}

.icon-container {
  display: flex;
  margin-bottom: 5px;
  position: relative;
}

.mdc-list-item {
  padding-left: 0;
  padding-right: 0;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 100% !important;
}

.skirmish-character-tile {
  background-color: rgba(43, 75, 77, 0.42);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 100%;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
}

.tile-background {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}

.tile-color {
  z-index: 2
}

.tile-left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: inherit;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.tile-right {
  color: inherit;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.overlap-icon {
  justify-content: flex-start;
  margin-left: -5px;
  position: relative;
  z-index: 1;
}

.overlap-icon:first-child {
  margin-left: 0;
}
