<ng-container *ngIf="character.conditions.length > 0">
  <div fxLayout="row" fxLayoutGap="20" class="details-row">
    <div fxFlex="30">
      <h4>{{ text.getText().conditionsLabel }}</h4>
      <table mat-table [dataSource]="character.conditions" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().nameLabel }}</th>
          <td mat-cell *matCellDef="let element">
                <span class="description-span"
                      (click)="openBottomSheet(element.condition)">
                  {{ element.condition.nameTranslation }}
                </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef>{{ text.getText().levelLabel }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.value }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="baseColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: baseColumns;"></tr>
      </table>
    </div>
  </div>
</ng-container>
