<div *ngIf="hasData">
  <h5>{{ weaponGroup.name }}</h5>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ text.getText().nameLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.nameTranslation }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>{{ text.getText().priceLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.price }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="enc">
      <th mat-header-cell *matHeaderCellDef>{{ text.getText().encumbranceLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.encumbrance }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef>{{ text.getText().availabilityLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.availability.nameTranslation }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>{{ text.getText().categoryLabel }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.weaponGroup.nameTranslation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="reach">
      <th mat-header-cell *matHeaderCellDef>{{ text.getText().reachLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.weaponRange == 0; else strengthInRange">
          {{ element.weaponReach.nameTranslation }}
        </span>

        <ng-template #strengthInRange>
        <span *ngIf="element.isUsingStrengthInRange; else weaponRange">
          BSx{{ element.weaponRange }}
        </span>
        </ng-template>

        <ng-template #weaponRange>
              <span *ngIf="element.weaponGroup.name.includes('AMMUNITION'); else fullWeaponRange">
                <span *ngIf="element.weaponRange == 0.5">{{ text.getText().halfWeaponRangeLabel }}</span>
                <span *ngIf="element.weaponRange == 1">{{ text.getText().rangeAsWeaponLabel }}</span>
                <span *ngIf="element.weaponRange > 1">+{{ element.weaponRange }}</span>
                <span *ngIf="element.weaponRange < 0">{{ element.weaponRange }}</span>
              </span>
          <ng-template #fullWeaponRange>

            <span>{{ element.weaponRange }}</span>
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="damage">
      <th mat-header-cell *matHeaderCellDef>{{ text.getText().damageLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.isUsingStrength; else elseBlock">
          + BS + {{ element.damage }}
        </span>
        <ng-template #elseBlock>
          <span *ngIf="element.damage >= 0; else minusDamageBlock">+{{ element.damage }}</span>
          <ng-template #minusDamageBlock>
            {{ element.damage }}
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="advantagesAndDisadvantages">
      <th mat-header-cell *matHeaderCellDef>{{ text.getText().advantagesAndDisadvantagesLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let quality of element.weaponQualities">
                <span *ngIf="quality.value == 1; else weaponValue" class="description-span"
                      (click)="openBottomSheet(quality.weaponQuality)">
                  {{ quality.weaponQuality.nameTranslation }}
                </span>
            <ng-template #weaponValue>
                  <span class="description-span" (click)="openBottomSheet(quality.weaponQuality)">
                    {{ quality.weaponQuality.nameTranslation }} {{ quality.value }}
                  </span>
            </ng-template>
          </li>
        </ul>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="weaponColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: weaponColumns;"
        (contextmenu)="onContextMenu($event, row)"></tr>
  </table>
  <br>
</div>

<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-weapon="weapon">
    <button mat-menu-item (click)="onEditWeapon(weapon)">
      <span *ngIf="weapon.isBaseWeapon == true">{{text.getText().copyLabel}}</span>
      <span *ngIf="weapon.isBaseWeapon == false">{{text.getText().editLabel}}</span>
    </button>
    <button *ngIf="weapon.isBaseWeapon == false" mat-menu-item (click)="onDeleteWeapon(weapon.id)">{{text.getText().deleteLabel}}</button>
  </ng-template>
</mat-menu>
